<!-- Main Section -->
<section class="col-md-9 no-padding">
    <div class="main-section">

        <div class="main-content panel panel-default">
            <header class="panel-heading clearfix">
                <a data-target="documentation/index.html" href="#" class="btn btn-default pull-right" rel="#overlay"><i class="fa fa-question-circle"></i></a>
                <h2 class="panel-title">
                    Welcome to Best-zero!
                </h2>
            </header>
            <section class="panel-body container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info text-center">
                            <h4>Get started: <a href="#">Add contacts to your account</a></h4>
                            <p>Vestibulum ultrices vehicula leo ac tristique. Mauris id nisl nibh. Cras egestas vestibulum nisl, nec eleifend nunc pulvinar non.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <hgroup class="col-md-12 text-center">
                        <h2>Sed magna enim, tempus eu rutrum ornare.</h2>
                        <h4>Donec suscipit fermentum turpis, a feugiat felis tincidunt eu</h4>
                        <!--{{info}}-->
                        <div ng-if="results.msg"  class="alert alert-success alert-dismissable fade in" style="height: 50px">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <p>
                            {{results.msg}}
                            </p>
                        </div>
                        <form popover action="" name="NewMeetingForm" class="form-horizontal" >
                            <div class="form-group">
                                <div class="col-sm-12">
                                    Meeting Title<br />
                                    <input class="form-control"  id="meetingTitle" ng-model="meeting.title" type="text" placeholder="Title of your Meeting"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    User<br />
                                    <input class="form-control"  id="meetingUserId" ng-model="meeting.userId" type="text" placeholder="User by default "/><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    Meeting Time<br />
                                    <input class="form-control" id="meetingTime" ng-model="meeting.time" type="text" placeholder="Start and end time ..."/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    Meeting Description<br />
                                    <textarea class="form-control" id="meetingDescription" ng-model="meeting.description" title="Description of the meeting ..."></textarea>

                                </div>
                            </div>
                            <hr />
                            <button type="submit" ng-click="alert();storeMeeting(meeting,newMeetingForm)" class="btn btn-primary">Save</button>
                            <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>

                        </form>


                    </hgroup>
                </div>

                <div class="row">
                    <figure class="col-md-4 text-center">
                        <img src="/images/asset1.jpg" width="100%" />
                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet massa at lorem molestie egestas. Donec ipsum purus, consequat ac gravida sed, volutpat ut velit.</p>
                    </figure>
                    <figure class="col-md-4 text-center">
                        <img src="/images/asset2.jpg" width="100%" />
                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet massa at lorem molestie egestas. Donec ipsum purus, consequat ac gravida sed, volutpat ut velit.</p>
                    </figure>
                    <figure class="col-md-4 text-center">
                        <img src="/images/asset3.jpg" width="100%" />
                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet massa at lorem molestie egestas. Donec ipsum purus, consequat ac gravida sed, volutpat ut velit.</p>
                    </figure>
                </div>

                <div class="other-options">
                    <h3 class="other">Other things to do...</h3>
                    <ul>
                        <li>
                            <h4><a href="#">Lorem Ipsum Dolor Sit Amet</a></h4>
                            <p>Nam sit amet massa at lorem molestie egestas.</p>
                        </li>
                        <li>
                            <h4><a href="#">Lorem Ipsum Dolor Sit Amet</a></h4>
                            <p>Nam sit amet massa at lorem molestie egestas.</p>
                        </li>
                        <li>
                            <h4><a href="#">Lorem Ipsum Dolor Sit Amet</a></h4>
                            <p>Nam sit amet massa at lorem molestie egestas.</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

</section>
