<section class="col-md-9 no-padding">
    <div class="main-section">

        <div class="main-content panel panel-default">
            <header class="panel-heading clearfix">
                <a data-target="documentation/index.html" href="#" class="btn btn-default pull-right" rel="#overlay"><i class="fa fa-question-circle"></i></a>
                <h2 class="panel-title">
                    Meeting Calendar
                </h2>
            </header>
            <section class="panel-body">

                <!--<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">-->
                    <!--<h4>{{alertMessage}}</h4>-->
                <!--</div>-->
                <div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                <div class="alert alert-info leading">
                    <strong>DISCLAIMER :</strong> <a href="http://fullcalendar.io/" target="_blank" rel="nofollow">FullCalendar</a> is great for displaying events, but it isn't a complete solution for event content-management. Beyond dragging an event to a different time/day, you cannot change an event's name or other associated data. It is up to you to add this functionality through FullCalendar's event hooks.
                </div>
            </section>
        </div>
    </div>

</section>

