<section class="col-md-9 no-padding" ng-if="results.msg">
<div class="main-section">

<div class="main-content panel panel-default">
<header class="panel-heading clearfix">
    <a data-target="documentation/index.html" href="#" class="btn btn-default pull-right" rel="#overlay"><i class="fa fa-question-circle"></i></a>
    <h2 class="panel-title">
        {{results.msg}}
        ({{results.meetings.length}})
    </h2>
</header>
<section class="panel-body container-fluid">
<div>

    <meeting-thumbnail/>

</div>

</section>
</div>
</div>

</section>
