
<div ng-if="meetingInfo.msg" class="alert {{meetingInfo.class}} alert-dismissable fade in" style="height: 50px">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <p>
        {{meetingInfo.msg}}
    </p>
</div>
<table class="table paginate">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Time</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="meeting in results.meetings">

        <td>{{meeting.id}}</td>
        <td>{{meeting.title}}</td>
        <td>{{meeting.time}}</td>
        <td>{{meeting.description}}</td>
        <td>
            <a class="btn btn-default" style="padding: 6px" ng-click="deleteMeeting(meeting.id)"><i
                    class="fa fa-trash-o"></i></a>
            <a class="btn btn-default" style="padding: 6px"><i class="fa fa-pencil-square-o"></i></a>
        </td>

    </tr>
    </tbody>
</table>
